// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2012 Texas Instruments Incorporated - https://www.ti.com/
 */
/dts-v1/;

#include "am33xx.dtsi"
#include "am335x-bone-common.dtsi"
#include "am335x-boneblack-common.dtsi"
/ {
	compatible = "ti,am335x-bone-black", "ti,am335x-bone", "ti,am33xx";
};

&am33xx_pinmux {
	spi1_pins: pinmux_spi1_pins{
		pinctrl-single,pins = <
			AM33XX_PADCONF( AM335X_PIN_MCASP0_ACLKX,  PIN_INPUT_PULLUP, MUX_MODE3 )  // P9_31: spi1 clk out
			AM33XX_PADCONF( AM335X_PIN_MCASP0_FSX,    PIN_INPUT_PULLUP, MUX_MODE3 )  // P9_29: spi1 d0 /data in (miso)
			AM33XX_PADCONF( AM335X_PIN_MCASP0_AXR0,   PIN_INPUT_PULLUP, MUX_MODE3 )  // P9_30: spi1 d1 / data out (mosi)
			AM33XX_PADCONF( AM335X_PIN_MCASP0_AHCLKR, PIN_INPUT_PULLUP, MUX_MODE3 )  // P9_28: spi1 cs 0 out
		>;
	};
	uart1_pins: pinmux_uart1_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_UART1_RXD, PIN_INPUT_PULLUP, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_UART1_TXD, PIN_OUTPUT_PULLDOWN, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_UART1_CTSN, PIN_INPUT, MUX_MODE0)
			AM33XX_PADCONF(AM335X_PIN_UART1_RTSN, PIN_OUTPUT_PULLDOWN, MUX_MODE0)
		>;
	};
	i2c1_pins: pinmux_i2c1_pins {
		pinctrl-single,pins = <
			AM33XX_PADCONF(AM335X_PIN_SPI0_D1, PIN_INPUT_PULLUP, MUX_MODE2)	/* p9.18.i2c1_sda */
			AM33XX_PADCONF(AM335X_PIN_SPI0_CS0, PIN_INPUT_PULLUP, MUX_MODE2)	/* P9.17.i2c1_scl */
		>;
	};
};

&spi1 {
	status="okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi1_pins>;
	};

&uart1 {
	status="okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1_pins>;
		gnss{
			compatible = "u-blox,neo-6m";
			vcc-supply = <&vmmcsd_fixed>;
			current-speed = <9600>;
		};
	};

&spi1 {
 	flash_card@0 {
		reg = <0>;
		compatible = "spidev";
		spi-max-frequency = <48000000>;
		spi-cpol;
		spi-cpha;
		};
	};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c1_pins>;
	status = "okay";
	master@0 {
		compatible = "ti, omap4-i2c";
		reg = <0>;
		clock-frequency = <400000>;
		};
	};

